/* Developed by= MOEKETSI JUNIOR SILLO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
    background: #05765f9e;
}

h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
}
form {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    height: 80px;
    background: #77bc96;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

form input {
    flex: 1;
    height: 100%;
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 18px;
    padding: 0 30px;
}

form button {
    height: 100%;
    background: #02370b62;
    border: 0;
    color: #9be0d2;
    font-weight: 600;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    padding: 0 30px;
}

::placeholder {
    color: #fff;
    font-size: 18px;
}

#show-more-btn{
    display: none;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    background: #02370b62;

}
#search-result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    /* ustify-items: center; */
}

#search-result img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

